:root {
    --color-bg: hsl(220, 6%, 10%);
    --color-base: hsl(0, 0%, 40%);
    --color-correct: hsl(244, 45%, 64%);
    --color-right: hsl(100, 60%, 50%);
    --color-wrong: hsl(5, 55%, 45%);
    --color-click: hsl(230, 20%, 85%);
    --color-info: hsl(35, 65%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Space Mono', monospace;
    font-size: 2.2rem;
    background-color: var(--color-bg);
    opacity: 0;
    transition: opacity 2s;
    user-select: none;
}

.main-container {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    width: 30em;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.head h2 {
    color: var(--color-info);
}

.top-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    margin-top: 1em;
}

.timer {
    font-size: 0.85em;
    color: var(--color-info);
}

.word-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.65em;
    color: var(--color-info);
}

.word-count li {
    cursor: pointer;
    list-style-type: none;
    padding: 0 0.5em;
    border-right: 0.01em solid var(--color-info);
}

.word-count li:last-child {
    border-right: none;
}

.selected {
    color: var(--color-right);
}

.typer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.typer {
    font-size: 0.8em;
    letter-spacing: 1px;
    white-space: pre-wrap;
    position: relative;
    padding: 0.5em 0;
    width: 85%;
    user-select: none;
    transition: filter 200ms;
    transform: translateY(-20%);
}

.typer:focus {
    outline: none;
}

.typer:not(:focus) {
    filter: blur(10px);
}

.word {
    position: relative;
    display: inline-block;
}

.letter {
    position: relative;
    display: inline;
}

.base-color {
    color: var(--color-base);
}

.correct {
    color: var(--color-correct);
}

.wrong {
    color: var(--color-wrong);
}

@keyframes blicking {
    to {
        opacity: 0;
    }
}

.cpm {
    color: var(--color-info);
    position: absolute;
}

.focus {
    font-size: 0.75em;
    position: absolute;
    top: 50%;
    color: var(--color-info);
    opacity: 0;
    transform: translateY(-2em);
    transition: opacity 200ms;
}

.line {
    position: absolute;
    top: -0.2em;
    left: -0.25em;
    font-size: 1.2em;
    color: var(--color-info);
    animation: blicking 600ms ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.counter-container {
    color: var(--color-info);
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}